.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  
  .control-panel {
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid #c5c5c5;
    gap: 1em;
    padding: 1em;
    flex-direction: row;
    align-items: stretch;
  }
.control-panel-item{
  border: 1px solid #dfdfdf;
  padding: 1em;
}

h2{text-align: left;width: 100%;}
.chessboard-background {
  background-color: rgba(0, 0, 0, 0.2); /* 半透明背景色 */
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)),
                    linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 20px 20px; /* 棋盘格子大小 */
  background-position: 0 0, 10px 10px; /* 错位形成棋盘效果 */
}
  .stage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1em;
    flex-direction: row;
  }
  .stage>div{
    min-height: 100px;
    flex: 1;
    /* background: #252525; */
    position: relative;
  }

.stage-video-with-background>canvas{
  width: 100%;
}
.stage-video-without-background>canvas{
  width: 100%;
}
  
  .stage-video {
  }
  
  .fileList{
    display: flex;
    flex-direction: row;
    gap: 1em;
    min-height: 100px;
    /* background: #cfcfcf; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
.fileList>img{
  display: block;
  width: auto !important;
  height: 100px;
}